
{%load static%}
<html>
    
    <head>
        <style>
                body{
                    background-image: url('https://www.suyongso.com/files/attach/images/115/242/786/015/10d4672110f57863418c21bf2b964539.jpg');
            
                }
        </style>
    </head>
    
    <body>
            <nav>
                    <h2>목차</h2>
                    <ol>
                        
                        <li><a href="{% url 'mysite:me_index' %}">간단한 소개</a></li>
                        <li><a href ="{% url 'mysite:ask_index' %}">QnA</a></li>
                        
                    </ol>
                </nav>
                <h1 >   Ask Me</h1>
        <div class="container">
            <table border=1>
                <tbody>
                    <tr>
                        <th>제목</th>

                        <th>생성일</th>
                    </tr>
                </tbody>
                <tbody>
                {% for ask in ask_all %}
                    <tr>
                        <td><a href="{% url 'mysite:ask_detail' ask.id %}">{{ask.text}}</a></td>

                        <td>{{ask.updated_at}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form action="{%url 'mysite:ask_new'%}"method="ASK">{%csrf_token%}
                    {{ask_form.as_p}}
                    <button type="submit" class="save btn btn-default">질문추가</button>
            
        </div>
    </body>
    
</html>


